<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SKDynamicCellHeight.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>037F163C206B8698008D9850</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>037F1655206B869B008D9850</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>037F1660206B869B008D9850</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
